{% extends "base.html" %}

{% block content %}
<h1>User Sign-up</h1>
<form method='POST'>
<label>Username:
    <input name="user" type="text" value='{{user}}' />

<p color="red">{{user_error}}</p>
</label>
<label>Password:
    <input name="pass" type="password" value='{{pass}}' />

    <p color="red">{{pass_error}}</p>
</label>
<label>Verify Passsword:
    <input name="passv" type="password" value='{{passv}}' />

    <p color="red">{{vpass_error}}</p>
</label>
<label>Email <em>Optional</em>
    <input name="email" type="text" value='{{email}}' />

    <p color="red">{{email_error}}</p>
</label>
<br>
<br>
    <input type="submit" />
</form>




{% endblock %}